
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  height: 80px;
  box-shadow: 8px 1px 20px 1px; 
}

.logo{
  display: flex;
  align-items: center;
}

div img.logo {
  width: 100%;
  max-width: 250px;
  height: 130px;
}

a{
  text-decoration: none;
}

.contato a button img{
  height: 20px;
  width: 100%;
  max-width:  20px;
}

.contato a button{
  border-radius: 100%;
  height: 30px;
  width: 35px;
}
.contato{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: rgba(183, 183, 183, 0.529);
    border: 1px solid black; 
}

.nav {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
  color: #333;
  transition: color 0.3s ease;
}

.nav::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px; /* altura da borda */
  width: 0%;
  background-color: #3498db; /* cor da borda */
  transition: width 0.3s ease;
}

.nav:hover::before {
  width: 100%;
}

.nav:hover {
  color: #3498db;
}




.Telefone:hover{
  background: rgba(177, 177, 177, 0.896)
}
.Whatsapp:hover{
  background: rgb(1, 200, 1);
}

.Instagram:hover{
  background: rgb(213, 1, 160);
}

span{
  width: 0px;
  margin: 0px;
  padding: 0px;
}

.inf{
  display: flex;
  align-items: center;
  gap: 10px;
}
.contato span ~  a{
  color: rgba(68, 68, 68, 0.853);
}

.page1{
  height: 100vh;
  width: 100%;
  background: #FFF5E1;
}

