
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #4d869fe0;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  height: 80px;
  box-shadow: 8px 1px 20px 1px; 
  background: whitesmoke;
}

.logo{
  display: flex;
  align-items: center;
}

div img.logo {
  width: 100%;
  max-width: 250px;
  height: 130px;
}

a{
  text-decoration: none;
}

.contato a button img{
  height: 20px;
  width: 100%;
  max-width:  20px;
}

.contato a button{
  border-radius: 100%;
  height: 30px;
  width: 35px;
}
.contato{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: rgb(144, 229, 252);
  border: 1px solid black; 
}

.nav {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
  color: #333;
  transition: color 0.3s ease;
}

.nav::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px; /* altura da borda */
  width: 0%;
  background-color: #3498db; /* cor da borda */
  transition: width 0.3s ease;
}

.nav:hover::before {
  width: 100%;
}

.nav:hover {
  color: #3498db;
}


.Telefone:hover{
  background: rgba(177, 177, 177, 0.896)
}
.Whatsapp:hover{
  background: rgb(1, 200, 1);
}

.Instagram:hover{
  background: rgb(213, 1, 160);
}

span{
  width: 0px;
  margin: 0px;
  padding: 0px;
}

.inf{
  display: flex;
  align-items: center;
  gap: 10px;
}
.contato span ~  a{
  color: rgba(68, 68, 68, 0.853);
}


.carousel {
  position: relative;
  width: 100% ;
  overflow: hidden;
  padding: 15px 0;
}

.slider-track {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 60px;
  scrollbar-width: none;
}
.slider-track::-webkit-scrollbar {
  display: none;
}

.slide-box {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #d7cfcf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Setas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.621);
  border: none;
  padding: 10px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}
.arrow:hover {
  background: rgba(255, 255, 255, 0.471);
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}



.casas-praia {
  background-image: url(../assests/pagina1.jpg); /* azul clarinho */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
  width: 100%;
  padding: 60px 20px; 
  text-align: center;
}

.casas-praia .conteudo {
  max-width: 900px;
  margin: 0 auto;
}

.casas-praia h2 {
  font-size: 2.5rem;
  color: #02cf4a; /* tom de azul piscina */
  margin-bottom: 25px;
}

.casas-praia p {
  font-size: 1.1rem;
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
}

.casas-praia ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.casas-praia ul li {
  font-size: 1.1rem;
  margin: 8px 0;
  color: white;
}
.pagina2{
  width: 100%;
  background: rgb(203, 203, 203);
  margin-top: 1%;
  height: 25vh;
  display: flex;

}

.localização{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

}
.lugar{
  height: 35px;
  width: auto;
  
}

