* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  /*Azul Opala    https://www.shutterstock.com/pt/color/opal-blue */
  --cor-primaria: #2F3349;
  --cor-secundaria: #2f3949;
  --cor-fundo: #212833;
  --cor-branco: #e8f1ff;
  --cor-texto: #d2e3ff;
  --cor-contraste: #8b9e9c;
}

@font-face {
  font-family: 'Waltograph';
  src: url('waltograph/WaltographUI.ttf') format('truetype');
}


body {
  font-family: 'Waltograph';
  font-weight: bold;
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--cor-fundo);
  max-width: 100%;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 8px 1px 20px 1px;
  background: var(--cor-branco);
}

.logo {
  display: flex;
  align-items: center;
}

div img.logo {
  width: 100%;
  max-width: 250px;
  height: 130px;
}

a {
  text-decoration: none;
}

.contato a button img {
  height: 20px;
  width: 100%;
  max-width: 20px;
}

.contato a button {
  border-radius: 100%;
  height: 30px;
  width: 35px;
}

.contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: var(--cor-secundaria);
}


.nav {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
  color: var(--cor-contraste);
  /**/
  transition: color 0.3s ease;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  /* altura da borda */
  width: 0%;
  background-color: var(--cor-secundaria);
  /* cor da borda */
  transition: width 0.3s ease;
}

.nav:hover::before {
  width: 100%;
}

.nav:hover {
  color: var(--cor-secundaria);
}



.Whatsapp:hover {
  background: rgb(1, 200, 1);
  cursor: pointer;
}

.Instagram:hover {
  background: rgb(213, 1, 160);
  cursor: pointer;
}

span {
  width: 0px;
  margin: 0px;
  padding: 0px;
}

.inf {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contato span~a {
  color: var(--cor-contraste);
}


.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}

.slider-track {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 60px;
  scrollbar-width: none;
}

.slider-track::-webkit-scrollbar {
  display: none;
}

.slide-box {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background: #d7cfcf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Setas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--cor-texto);
  border: none;
  padding: 10px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.471);
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}



.casas-praia {
  background-image: url(/assests/img/Castelo\ \(24\).jpg);
  /* azul clarinho */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
  width: 100%;
  padding: 60px 20px;
  text-align: center;
  color: var(--cor-texto);
  margin-bottom: 2%;
}

.casas-praia .conteudo {
  max-width: 900px;
  margin: 0 auto;
}

.casas-praia h2 {
  font-size: 2.5rem;
  /* tom de azul piscina */
  margin-bottom: 25px;
}

.casas-praia p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.casas-praia ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.casas-praia ul li {
  font-size: 1.1rem;
  margin: 8px 0;

}

.pagina2 {
  width: 100%;
  background: var(--cor-branco);
  height: 20vh;
  display: flex;
}

.conteudo2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--cor-primaria);

}

.conteudo2:hover {
  background: rgba(255, 255, 255, 0.681);
}

.local {
  height: 50px;
  width: auto;
  padding: 5px;
}


.galeria-fotos {
  padding: 40px 20px;
  background-color: var(--cor-secundaria);
  text-align: center;
}

.galeria-fotos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--cor-branco);
}

.grade-fotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.grade-fotos img {
  width: 100%;
  max-width: 350px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.grade-fotos img:hover {
  transform: scale(1.10);
}


.localização:hover,
.openModal:hover {
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 32px;

}

.modal-content {
  position: relative;
  background: rgba(255, 255, 255, 0.919);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  max-width: 400px;
}




.close {
  position: absolute;
  color: red;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  top: 10px;
  right: 30px;
}


.cards-casas {
  padding: 50px 20px;
  background-color: #f5f5f5;
}

.cards-casas h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3em;
  color: #333;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  font-size: 2em;
  overflow-x: auto;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info h3 {
  margin-top: 0;
  color: #1a1a1a;
}

.card-info p {
  margin: 10px 0;
}

.card-link {
  margin-top: auto;
  padding: 10px 20px;
  background: #ff7b00;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  width: fit-content;
  transition: background 0.3s;
}

.card-link:hover {
  background: #cc6200;
}

.turismo img {
  height: 500px;
}

.whatsapp-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 55px;
  height: 55px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

}

.whatsapp-fixed img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  pointer-events: none;
}

.whatsapp-fixed:hover {
  transform: scale(1.20);
  background-color: #1ebe5d;
}


footer {
  margin-top: 5%;
  color: var(--cor-branco)
}